
label{
	color:#333;
	padding-right:20px;
} 
.navbar-light .navbar-nav .nav-link{
  color: rgb(7, 89, 113);
}
@media (min-width: 768px) {


}
.logo:hover{
    opacity: 1;
}
.logo{
  max-width: 196px;
  margin-top: -20px;
  margin-bottom: -20px;
}
