<div style="background-color: #fff2f2;height:48px;border-bottom:15px solid #000">

    <div style="height:48px;position: absolute;overflow: hidden; color:#C0D52E">
        <div class="fa-sm">
            <i class="fas fa-pencil-alt fa-4x"></i>
            <i class="fas fa-pencil-alt fa-4x fa-rotate-90"></i>
            <i class="fas fa-pencil-alt fa-4x fa-rotate-180"></i>
            <i class="fas fa-pencil-alt fa-4x fa-rotate-270"></i>
            <i class="fas fa-pencil-alt fa-4x"></i>
        </div>

    </div>
    <div class="cutContainer">
        <i class="fas fa-4x fa-cut"></i>
    </div>

    <div class="redTriangle"></div>
    <div class="whiteTriangle"></div>

</div>