Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Accept, Http-Token, Http-Id-Company"
Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
